<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldbmcs.secKill.mapper.SecKillMapper">

    <update id="updateNumber">
        update sec_kill set number = number - 1 where id = #{secKillId}
    </update>
</mapper>
