<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldbmcs.secKill.mapper.SecKillMapper">

    <update id="updateNumber">
        update sec_kill set number = number - 1 where id = #{secKillId}
    </update>
    <update id="updateNumberByLock">
        update sec_kill set number = number - 1 where id = #{secKillId} and number > 0
    </update>
    <select id="getSecKillCountByLock" resultType="java.lang.Integer">
        select number from sec_kill where id = #{secKillId} for update
    </select>
</mapper>
